<!DOCTYPE html>
<html>
  <head>
    <title>GitApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    test2
    <%= yield %>
    test3
    test4
    test5
    test6
    test7
    test8
  </body>
</html>
